<div xmlns:py="http://genshi.edgewall.org/" id="searchContent">
	<div class="content_header">
		<div style="height:15px;">
			<a style="float:left;" class="actionlink" onclick="setContent('search','')" title="Back to ASK EXPERT" >
				Back
			</a>
		</div>
	</div>
	<div class="content_body">
		<h1>Contacted user busy!</h1>
		<p>The contacted user has too many open questions and can therefore not accept
		your invitation. Please try again later or choose another user.</p>	
	</div>
</div>