<div xmlns:py="http://genshi.edgewall.org/" class="statistics_box_items">
	<div class="username">
		<p>$user_name</p>
	</div>
	<div style="margin:5px 10px 5px 5px;">
		<div>
			<p class="label">Answers:</p>
			<p class="data">$n_answered</p>
			<p class="label">Questions:</p>
			<p class="data">$n_asked</p>
		</div>
		<div  style="clear:both;"></div>
		<div style="margin-top:10px;">
			<p class="label">Notes:</p>
			<p class="data">$n_blogs</p>
		</div>
		<div  style="clear:both;"></div>
		<div style="margin-top:10px;">
			<p class="label">Users online:</p>
			<p class="data" style="margin-top:12px;">$n_users_online/$n_users</p>
		</div>
		<div  style="clear:both;"></div>
	</div>
</div>