<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<div id="main_menu" py:match="main_menu">
	<ul>
		<li><a href='${tg.url("/")}' title="Home" style="cursor:pointer;" ><span>Home</span></a></li>
		<li><a href='${tg.url("/about")}' title="About SPREE" style="cursor:pointer;" ><span>About spree</span></a></li>
		<li><a href='${tg.url("/registration/new")}' title="Become a SPREE member." style="cursor:pointer; text-decoration:underline;" ><span>Registration</span></a></li>
	</ul>
</div>

<div id="content" py:match="content"  style="margin-left:-30px;">
	<div xmlns:py="http://genshi.edgewall.org/" class="content_body">
		<!-- !Policy is to reset password -->
		<span py:if="policy=='reset'" py:strip="True">
				<h1>Reset Password</h1>
				<p>
					Please enter the user name or email address associated with your account.  Your 
					password will be reset and your new password will be emailed to you.
				</p>
		</span>
		
		<!-- !Policy is to send current password -->
		<span py:if="policy=='send_current'" py:strip="True">
				<h1>Lost Password</h1>
				<p>
					Please enter the user name or email address associated with your account.  
					We will email your password to you.
				</p>
		</span>
		<form action="${action}" method="post" class="tableform" name="form" id="regPersonalForm">
			<br/><br/>
			<div>
		    	<div class="lostPWCol1">
		        	<label class="fieldlabel" for="form_email_or_username">User Name or Email Address:</label>
				</div>
		        <div class="lostPWCol2">
					<input id="form_email_or_username" name="email_or_username" value="" class="textfield requiredfield" type="text"/>
				</div>
		        <div class="lostPWCol3">
					<input id="btnLostPW" value="${submit_text}" type="submit"/>
				</div>
			</div>
		    <input id="inpmsg" value="" type="hidden"/>
		</form>
	</div>
</div>

<xi:include href="login_master.html"/>

</html>
